* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "Risque";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Risque.woff") format("woff"), url("../fonts/Risque.woff2") format("woff2"), url("../fonts/Risque.ttf") format("truetype");
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  overflow: hidden;
  background: #141429;
  color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}

h1,
h2,
h3 {
  font-family: "Risque";
  font-weight: 400;
}

h1 {
  font-family: "Risque";
  margin-bottom: 20px;
  font-size: 72px;
  opacity: 0;
}

h2 {
  margin-bottom: 30px;
  font-size: 56px;
}

h3 {
  margin-bottom: 27px;
  font-size: 38px;
}

.snowflake {
  position: absolute;
  bottom: -36px;
  left: -200px;
  z-index: -1;
}

.hero-btn button {
  display: inline-block;
  padding: 12px 42px;
  border: 2px solid #fff;
  border-radius: 20px 20px 20px 0;
  color: #fff;
  font-size: 16px;
  background: transparent;
  text-decoration: none;
  transition: all 0.3s ease;
}
.hero-btn button:hover {
  background: #fff;
  color: #000000;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100vh;
}
.swiper .swiper-wrapper .dedcoca {
  position: absolute;
  right: 0;
  bottom: 0;
}
.swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}
.swiper .swiper-slide__box {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 0 30px;
}
.swiper .swiper-slide.slide1 .swiper-slide__box > div {
  width: 100%;
}
.swiper .swiper-slide.slide1 .cloud {
  position: absolute;
  right: 550px;
  bottom: 300px;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}
.swiper .swiper-slide.slide1 .cloud.visible {
  opacity: 1;
}
.swiper .swiper-slide.slide1 .cloud p {
  position: relative;
  width: 180px;
  font-family: "Risque";
  font-size: 18px;
  color: #000000;
  z-index: 1;
}
.swiper .swiper-slide.slide1 .cloud img {
  position: absolute;
  top: -55px;
  left: -45px;
}
.swiper .swiper-slide.slide2 {
  background-image: url("../images/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.swiper .swiper-slide.slide3 {
  background-image: url("../images/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper .swiper-slide.slide3 .swiper-slide__box {
  display: block;
}

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 80px;
  color: white;
  font-size: 24px;
  animation: bounce 1.5s infinite;
  cursor: pointer;
  z-index: 10;
}

.header {
  max-width: 1400px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 16px;
  z-index: 110;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 160px;
}
.header__wrapper nav {
  display: flex;
  gap: 40px;
  transition: all 1s ease;
}
.header__wrapper nav .nav-link {
  padding: 10px;
  height: 40px;
  width: fit-content;
  display: flex;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.header__wrapper nav .nav-link:hover .nav-link__text span {
  transform: translateY(-100%);
}
.header__wrapper nav .nav-link__text {
  overflow: hidden;
}
.header__wrapper nav .nav-link__text span {
  display: block;
  transition: 0.15s ease-in-out;
}
.header__wrapper nav .nav-link__text span:nth-of-type(2) {
  color: #d02b2b;
}
.header__wrapper.open {
  transition: all 1s ease;
}
.header__wrapper.open nav {
  transform: scale(0);
  opacity: 0;
}
.header .burger {
  margin-right: 16px;
  width: 34px;
  height: 22px;
  cursor: pointer;
  position: relative;
  z-index: 110;
}
.header .burger div {
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 35px 0 35px 35px;
  background: #d02b2b;
}
.header .burger span {
  position: absolute;
  height: 3px;
  width: 34px;
  background: #fff;
  left: 0;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.header .burger span:nth-child(1) {
  top: 0;
}
.header .burger span:nth-child(2) {
  top: 9px;
}
.header .burger span:nth-child(3) {
  top: 18px;
}

.menu-bg {
  position: fixed;
  bottom: -10px;
  right: 0;
  width: 65vw;
  height: 170vh;
  background: #d02b2b;
  border-radius: 50% 0 0 50%;
  transform: scaleX(0);
  transform-origin: right center;
  z-index: 90;
}
@media (max-width: 986px) {
  .menu-bg {
    width: 100vw;
    border-radius: 0;
    transform-origin: center;
  }
}

nav.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}
nav.menu a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transform: translateY(30px);
  opacity: 0;
}
@media (max-width: 986px) {
  nav.menu {
    width: 100%;
  }
}

.tabs {
  max-width: 1400px;
  margin: 20px auto 0 auto;
  padding: 0 16px 0 30px;
  display: flex;
  gap: 40px;
}
.tabs .left .gifts {
  display: flex;
  gap: 32px;
}
.tabs .left .gifts .gift-wrapper {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 5px solid #fff;
  background-color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}
.tabs .left .gifts .gift-wrapper.active {
  background-color: transparent;
}
.tabs .right {
  min-width: 550px;
  padding: 50px 35px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border: 3px solid #fff;
}
.tabs .right h2 {
  font-size: 42px;
}
.tabs .right p {
  width: 300px;
  font-size: 28px;
}
.tabs .right img {
  max-width: 200px;
}

footer {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
}
.stars .star {
  position: absolute;
  width: 15px;
  height: 15px;
  fill: yellow;
  opacity: 1;
}

.snow {
  position: absolute;
}
.snow #snow {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 1135px 1140px #fff, 85px 1840px #fff, 1870px 733px #fff, 910px 1869px #fff, 494px 1345px #fff, 939px 957px #fff, 1492px 1266px #fff, 1340px 1101px #fff, 849px 1375px #fff, 112px 850px #fff, 590px 1980px #fff, 1792px 1004px #fff, 237px 1127px #fff, 276px 108px #fff, 483px 1216px #fff, 105px 1780px #fff, 1298px 1101px #fff, 610px 1783px #fff, 211px 1471px #fff, 528px 141px #fff, 31px 99px #fff, 168px 104px #fff, 1634px 1462px #fff, 404px 243px #fff, 1585px 1133px #fff, 1455px 89px #fff, 1340px 387px #fff, 1349px 354px #fff, 1932px 321px #fff, 1374px 691px #fff, 777px 836px #fff, 963px 1061px #fff, 1576px 1644px #fff, 1861px 1347px #fff, 743px 910px #fff, 1638px 1048px #fff, 573px 1141px #fff, 479px 1050px #fff, 38px 1502px #fff, 1935px 1374px #fff, 1208px 1637px #fff, 1249px 1119px #fff, 1583px 1429px #fff, 451px 73px #fff, 1250px 292px #fff, 482px 1541px #fff, 279px 1160px #fff, 1924px 229px #fff, 1021px 1234px #fff, 597px 1765px #fff, 1854px 297px #fff, 1868px 1235px #fff, 85px 405px #fff, 700px 522px #fff, 1321px 1860px #fff, 1856px 58px #fff, 326px 705px #fff, 50px 825px #fff, 1636px 1087px #fff, 1363px 1175px #fff, 1707px 151px #fff, 249px 398px #fff, 1630px 1519px #fff, 1222px 1131px #fff, 58px 1048px #fff, 423px 1681px #fff, 1196px 805px #fff, 1245px 765px #fff, 505px 1559px #fff, 1842px 1382px #fff, 570px 1563px #fff, 431px 1920px #fff, 1962px 1954px #fff, 872px 180px #fff, 380px 64px #fff, 1936px 1300px #fff, 894px 467px #fff, 730px 1696px #fff, 1087px 1019px #fff, 917px 1408px #fff, 1127px 843px #fff, 233px 1064px #fff, 1565px 1741px #fff, 456px 1985px #fff, 1068px 672px #fff, 935px 1189px #fff, 27px 384px #fff, 1399px 118px #fff, 1810px 1535px #fff, 387px 343px #fff;
  animation: float 150s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(2000px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
form {
  width: 468px;
}
form .row {
  margin-bottom: 20px;
  display: flex;
  gap: 23px;
}

.input-group input[type=text],
.input-group input[type=tel],
.input-group input[type=email],
.input-group textarea {
  width: 100%;
  padding: 14px 22px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: 3px solid #fff;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #fff;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.input-group textarea {
  margin-bottom: 17px;
  min-height: 76px;
  resize: none;
}

.custom-gender-select {
  width: 100%;
  position: relative;
  z-index: 10;
}

.custom-gender-select.open {
  z-index: 11;
}

.gender-select-toggle {
  width: 224px;
  border: 3px solid #fff;
  font-size: 16px;
  padding: 14px 22px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gender-select-toggle:focus,
.gender-select-toggle.active {
  border: 3px solid #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.gender-select-toggle::after {
  content: "";
  display: block;
  width: 18px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='12' fill='none' viewBox='0 0 19 12'%3E%3Cpath stroke='%23fff' stroke-width='2' d='m.68 1.085 9.721 9.026M9.373 10.592 18.169.663'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease-in;
}

.custom-gender-select.open .gender-select-toggle::after {
  transform: translateY(-50%) rotate(180deg);
}

.gender-select-popup {
  display: none;
  padding: 16px 10px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 15px;
  z-index: 2;
}

.custom-gender-select.open .gender-select-popup {
  display: block;
}

.gender-option {
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  color: #cecece;
  transition: color 0.3s ease;
}

.gender-option:hover {
  color: #d02b2b;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #d02b2b;
  user-select: none;
}

.custom-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-indicator {
  width: 20px;
  height: 20px;
  border: 2px solid #d02b2b;
  border-radius: 3px;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  flex-shrink: 0;
}

.custom-checkbox input[type=checkbox]:checked + .checkbox-indicator {
  background-color: #fff;
}

.custom-checkbox input[type=checkbox]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #d02b2b;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media (max-width: 370px) {
  .gifts .gift-wrapper {
    width: 100px !important;
    height: 100px !important;
  }
}
@media (max-width: 986px) {
  html,
  body {
    overflow: auto;
  }
  h1,
  h2 {
    font-size: 52px;
  }
  h3 {
    font-size: 28px;
  }
  .header {
    padding: 20px 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .stars {
    z-index: 1;
  }
  .swiper {
    height: 100%;
    overflow: auto;
  }
  .swiper .swiper-wrapper {
    height: auto;
    flex-direction: column;
  }
  .swiper .swiper-wrapper .swiper-slide {
    height: 100%;
  }
  .swiper .swiper-wrapper .slide1 {
    padding: 240px 0 0 0;
  }
  .swiper .swiper-wrapper .slide1 .swiper-slide__box {
    padding: 0 16px 75px 16px;
  }
  .swiper .swiper-wrapper .slide1 .dedcoca {
    width: 100%;
    position: initial;
  }
  .swiper .swiper-wrapper .slide1 .hero-btn {
    display: flex;
    justify-content: center;
  }
  .swiper .swiper-wrapper .slide2 .tabs {
    margin: 0;
    padding: 94px 16px;
    flex-direction: column;
    gap: 75px;
  }
  .swiper .swiper-wrapper .slide2 .tabs .gifts {
    justify-content: space-between;
    gap: 0;
  }
  .swiper .swiper-wrapper .slide2 .tabs .gifts .gift-wrapper {
    width: 110px;
    height: 110px;
  }
  .swiper .swiper-wrapper .slide2 .tabs .gifts .gift-wrapper img {
    width: 55px;
  }
  .swiper .swiper-wrapper .slide2 .tabs .right {
    padding: 0;
    min-width: 100%;
    align-items: center;
    flex-direction: column-reverse;
    border: none;
  }
  .swiper .swiper-wrapper .slide2 .tabs .right h2 {
    text-align: center;
  }
  .swiper .swiper-wrapper .slide2 .tabs .right img {
    min-width: 130px;
  }
  .swiper .swiper-wrapper .slide3 {
    background-position: center;
  }
  .swiper .swiper-wrapper .slide3 .swiper-slide__box {
    padding: 130px 16px 50px 16px;
  }
  .swiper .swiper-wrapper .slide3 .swiper-slide__box h2 {
    margin-bottom: 24px;
  }
  .swiper .swiper-wrapper .slide3 .swiper-slide__box form {
    width: 100%;
  }
  .swiper .swiper-wrapper .slide3 .swiper-slide__box form .row {
    margin-bottom: 23px;
    flex-direction: column;
  }
  .swiper .swiper-wrapper .slide3 .swiper-slide__box form .input-group input,
  .swiper .swiper-wrapper .slide3 .swiper-slide__box form .input-group textarea {
    padding: 12px 26px;
    font-size: 20px;
  }
  .swiper .swiper-wrapper .slide3 .swiper-slide__box form .input-group textarea {
    min-height: 95px;
  }
  .swiper .swiper-wrapper .slide3 .swiper-slide__box form .gender-select-toggle {
    padding: 12px 26px;
    width: 100%;
    font-size: 20px;
  }
  .swiper .swiper-wrapper .slide3 .swiper-slide__box form .custom-checkbox {
    font-size: 18px;
    color: #ffffff;
  }
  .scroll-down,
  .header nav,
  .cloud,
  .snowflake {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
